* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

/* utils */

.p-27 {
    padding: 27px;
}

/* header */

.header-news {
    background-color: #1CD1B0;
    padding-top: 10px;
    padding-bottom: 10px;
}


.header-title {
    background-color: #00669F;
    color: white;
}

/* main */

.card {
    margin-bottom: 50px;
    margin-right: 1rem;
}

.card-main {
    position: relative;
    text-align: center;
    background-color: #F3F3F3;
    padding: 17px;
    padding-top: 73px;

}

.card-main p {
    margin-bottom: 10px;
    text-align: left;
}

.card-profile-img {
    position: absolute;
    top: -62px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-profile-img img {
    border-radius: 50%;
    width: 122px;
}

.card-header {
    background-image: url(/img/firstbackground.png);
    height: 193px;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.card-header.mujermaravilla {
    background-image: url(/img/secbackground.png);
    height: 193px;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.card-header.superman {
    background-image: url(/img/tercback.png);
    height: 193px;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;

}

.card-header.harleyq {
    background-image: url(/img/cuartback.png);
    height: 193px;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.card-fav-icon i {
    color: #CC2424;
    font-size: 30px;
}

.btn {
    padding: 15px 35px;
}

.card-btn {
    background-color: #00669F;
    color: #F3F3F3;
}

.card-main h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px;
}



/* footer */

footer {
    background-color: #00669F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;

}

.rights {
    color: white;
    text-align: center;
    font-weight: 400px;
    width: 100%;
    margin-bottom: 10px;
}

.icon-git img {

    width: 80px;
}

.btn-fixed {
    border-radius: 50%;
    font-size: 35px;
    width: 70px;
    height: 70px;
    background-color: #00669F;
    color: white;
    border: none;
    position: fixed;
    right: 26px;
    bottom: 28px;

}

.btn-fixed a {
    text-decoration: none;
    color: white;
}

.form-container {
    background-color: #00669F;
    height: 100vh;
    border-radius: 30px;
    color: white;
    padding: 0.2rem 2rem;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.form-title {
    color: #FBFFFD;
    text-align: center;
    font-family: sans-serif;
    margin: 10px;
}

.form-title h2 {
    font-weight: 700;
    font-size: 2rem;
}

form {
    height: 100%;
}


.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 70%;
}

.form-input {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.form-input label {
    margin-bottom: 1rem;
}
.form-selectors {
    order: 8;
    width: 45%;
}

.form-input input[type=text],
.form-input input[type=date],
.form-input textarea,
.form-input select {
    border-radius: 0.5rem;
    padding: 0.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-input.name {
    order: 1;
    height: 20%;
}

.form-input.date {
    order: 3;
    height: 20%;
}

.form-input.type {
    order: 2;
}

.form-input.photo {
    order: 4;
}

.form-input.description {
    order: 5;
    height: 60%;
}

.button-submit {
    display: block;
    width: 50%;
    font-size: 2rem;
    padding: 1rem;
    color: black;
    background-color: #1CD1B0;
    border-radius: 20px;
    border: none;
}

.powers input[type=checkbox] {
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.character input[type=radio] {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.powers h4, .character h4 {
    margin-bottom: 1rem;
}

hr {
    margin: 1rem 0 ;
}